// Here you can add other styles

.ml {
    img { margin-left: 12px; }
}

.bg-grey {
    background-color: #222F;
}

.bg-blue {
    background-color: rgb(7, 125, 161);
}

.bg-transparent {
    background-color: rgba(0,0,0,0.2) !important;
    text-align: center;
}

.bg-transparent2 {
    background-color: rgba(0,0,0,0.8) !important;
    text-align: center;
}

.center {
        text-align: center;
        display: block;
}

.custom-color1 {

    p {
        color: white;
    }

    h1 {
        color: white;
    }

    button {
        background-color: rgb(7, 125, 161);
    }

    button:active {
        background-color: rgb(31, 148, 184);
    }
}

.no-pb-0 {
    padding-bottom: 1.25rem !important;
}

.invis-bg {
    background-color: rgba(0,0,0,0);
    border: none;
}

.block {
    display: block;
    margin: auto;
}